<html lang="en">
<title>WAIA</title>
<body style="background-color:{{ .BgColor }};"></body>
<center>
<H1>
<pre style="color:{{ .TxtColor }};">
Who Am I App
<hr>
Hello!
You are communicating with server {{ .Hostname }}.
My IP address is {{ .Address }}.
I am version {{ .Version }} of the WAIA application.
Have a nice day!
</pre>
</H1>
</center>
</html>